__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
*.manifest
*.spec
db.sqlite3
data/
*.sqlite3
# Django stuff:
*.log
local_settings.py
db.sqlite3-journal
media/

# Virtualenv
venv/
.venv/
env/
ENV/


.env